div{
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    overflow: scroll;
    float: left;
    border: 10px solid blue;
    /* padding: 25px 15px 20px 10px; */
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin: 40px;
    background-color: yellow;
}
div:nth-child(2n+1){
    background-color: rgb(136, 95, 173, 0,6);
    background-image: url(../casa.jpg);
    background-position: topcenter;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
}
div p{
    color: blue;
    text-align: center;
}
div p span{
    color: red;
}